@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails
// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #000;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
/*$column: 90px;
$gutter: 30px;
$grid-columns: 12;*/
$max-width:em(1140);


// Neat Breakpoints
$medium-screen: em(768);
$large-screen: em(1140);


$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$medium-screen-down: new-breakpoint(max-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$large-screen-down: new-breakpoint(max-width $large-screen 12);
