.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}
/**
 * Captions
 */
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    border: 1px solid $base-border-color;
    img[class*="wp-image-"] {
        display: block;
        margin: 1.2% auto 0;
        max-width: 98%;
    }
    .wp-caption-text {
        font-size: $small-font-size;
        padding: .5em 0;
        text-align: center;
    }
}
/**
 * Galleries
 */
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 1.5em;

    .wp-caption-text {
        font-size: $small-font-size;
        padding: .5em 0;
        text-align: center;          
    }
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
