/**
 * Widgets
 */

.widget {
    margin: 0 0 3em;

    select {
        max-width: 100%;
    }

    .widget-search .search-submit {
        @include screen-reader-text();
    }

    h3 {

    }

    ul {
        margin-left: 0;
        list-style: none;
        padding-left: 0;

        ul {
            margin-left: 1.5em;
        }
    }
}

.widget-area {
    .widget {
        a.button {
            font-weight: 700 !important;
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }
}

.widget_search,
.widget_product_search {
    form {
        position: relative;

        input[type=text],
        input[type=search] {
            width: 100%;
            padding-left: 2.5em;
        }

        input[type=submit] {
            @include screen-reader-text();
        }

        &:before {
            content: "\f002";
            font-family: "FontAwesome";
            position: absolute;
            top: .75em;
            left: 1em;
            line-height: 1;
        }
    }
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links {
    ul {
        margin: 0;

        li {
            list-style: none;
            margin-bottom: .5em;

            &:before {
                font-family: "FontAwesome";
                margin-right: .5em;
                display: inline-block;
                opacity: 0.25;
            }
        }

        .sub-menu {
            margin-top: .5em;
            margin-left: 1.5em;
        }
    }
}

.widget-area,
.footer-widgets {
    #wp-calendar {
        th,
        td {
            padding: .2em;
            text-align: center;
        }
    }
}

.widget_recent_entries,
.widget_pages {
    ul {
        li {
            &:before {
                content: "\f0f6";
            }
        }

        ul.children {
            margin: .5em 0 0 1em;
        }
    }
}

.widget_categories {
    ul {
        li {
            &:before {
                content: "\f114";
            }

            &.current-cat {
                &:before {
                    content: "\f115";
                }
            }
        }
    }
}

.widget_archive {
    ul {
        li {
            &:before {
                content: "\f115";
            }
        }
    }
}

.widget_recent_comments {
    ul {
        li {
            &:before {
                content: "\f0e5";
            }
        }
    }
}

.widget_nav_menu {
    ul {
        li {
            &:before {
                content: "\f0f6";
            }
        }
    }
}

.widget_links {
    ul {
        li {
            &:before {
                content: "\f08e";
            }
        }
    }
}

.widget-area {
    .widget {
        font-size: .857em;

        h1.widget-title {
            font-size: 1.387em;
        }

        a {
            color: $base-font-color;
            font-weight: 400;
            opacity: 0.75;

            &:hover {
                color: $base-link-color;
                opacity: 1;
            }

            &.button {
                opacity: 1;
            }
        }
    }
}